<!DOCTYPE html>
<html>
  <head>
    <title>Penges Studio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="icon" type="image/png" href="https://penges-studio.de/Images/logo.png" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-dark fixed-top bg-dark">
        <a class="navbar-brand ms-2" href="#"><img src="https://penges-studio.de/Images/logo.png" width="30" height="30" class="d-inline-block align-top"></a>
        <form method="POST" action="/" class="me-2">
          <button type="submit" value="logout" class="btn btn-danger me-2">Logout</button>
        </form>
      </nav>
    </header>
    <main role="main" class="">
      <div class="row">
        <% results.forEach(function(results){%>
          <div class="col-auto mb-4">
            <div class="card" style="width: 13rem;box-shadow:  0 4px 10px -2px rgba(0, 0, 0, 0.3);" onclick="location.href='<%- results.url %>'">
              <img class="card-img-top" style="max-height:140px;" src="<%- results.image %>">
              <div class="card-body">
                <h5 class="card-title"><%= results.name %></h5>
                <p class="card-text">Download: 56778 ❤️</p>
              </div>
            </div>
          </div>
        <%}); %>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </main>
  </body>
</html>
