body, html{
    height: 100%;
    padding: 0rem;
    margin: 0.5rem;
    overflow: hidden;
    align-items: center;
}

main{
    padding-top: 5rem;
}


.btn-success:focus{
    box-shadow: none;
}

@media (max-width: 999.99px){
    .cardSize{
        width: 9rem;
    }
}
@media (min-width: 1000px){
    .cardSize{
        width: 13rem;
    }
}